header
{
	
	display:flex;
	flex-direction:row;
	background-color: #B0B0B0; /*noir-clair*/
	height:100px;
	padding:10px;
	font-weight:bold;
}
*
{
	font-family: Verdana;
	color:#000;
}
body
{
	background-color:#FAFAFA;
}
p{
	margin-top:3%;
	text-align:center;
}	
.menu:nth-child(2)
{
	font-family:SuperMario;
	font-size:60px;
	margin: 2.5%;
	align-self:center;
	
}
.menu:nth-child(3)
{
	width:6%;
	margin-left:5%;
	padding-left:1%;
	padding-right:1%;
	align-self:center;
	border-left:solid black;
	
}
.menu:nth-child(4)
{
	width:7%;
	padding-left:1%;
	padding-right:1%;
	align-self:center;
	border-left:solid black;
	
}
.menu:nth-child(5)
{
	
	padding-left:1%;
	padding-right:1%;
	align-self:center;
	border-left:solid black;
	
}
.menu:nth-child(6)
{
	
	padding-left:1%;
	padding-right:1%;
	align-self:center;
	border-left:solid black;
	border-right:solid black;
}
.page
{
	display:flex;
	
	
}
.corps:nth-child(1)
{
	margin-top:5%;
	margin-left:2%;	
	
}
.corps:nth-child(2)
{
	text-align:left;
	border: solid black;
	margin:5%;
	margin-left:7%;
	width:70%;
	height: 800px;
}
.corps:nth-child(3)
{
	
	margin-top:5%;
	
}
.liste_1
{
	display:flex;
	flex-direction:row;
}

.corps_liste_1:nth-child(1)
{
	margin-left:25%;
	text-align:center;
	
}
.corps_liste_1:nth-child(2)
{
	margin-left:25%;
	text-align:center;
}
.liste_2
{
	display:flex;
	flex-direction:row;
	margin-left:10%;
}
.corps_liste_2:nth-child(1)
{
	flex:1;
}
.corps_liste_2:nth-child(2)
{
	flex:1;
}
.corps_liste_2:nth-child(3)
{
	flex:1;
}
.corps_liste_2:nth-child(4)
{
	flex:1;
}
.police
{
	margin-top:2%;
	font-family:SuperMario;
}
@font-face{
	font-family:SuperMario;
	src:url(SuperMario256.ttf);
}